input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}
.tip-container {
    border: 10px solid black;
    width: 500px;
    padding: 40px;
}
input.example {
    width: 50%;
}